@media screen and (max-width:1400px){
    #profile{
        height: 83VH;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap:wrap;
    }
}


@media screen and (max-width:1200px){
    #nav-1{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    } 
    #experience,.details-container{
        margin-top: 2rem;
    }
    #profile,.section-container{
        display:block;
    }
    section,.section-container{
        height: fit-content;
    }
    section{
        margin: 0 5%;
    }
    .section-pic-continer{
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .about-pic{
       width: 275px;
       height: 375px;
    }
    .footer{
        flex-wrap: wrap;
    }
    .contact-info-upper-container{
        flex-wrap: wrap;
    }
    
}